@media (max-width: 830px) {
  .hamburger {
    display: block;
  }
  #playlist-section {
    right: -100%;
  }

  #scroll-main {
    width: 100%;
  }
  #playlist-section {
    border: 2px solid red;
    top: 40%;
  }
  #stations-categories {
    margin-top: -21.5%;
  }
}
